.article {
  &-inner {
    padding: 1rem;
  }
  &-title {
    margin: 0.6rem 0 0.2rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  &-text {
    &-no-match {
      text-align: center;
      font-size: 1.3rem;
      color: #828282;
    }
  }
  &-infomation {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
  }
  &-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    &-item {
      a {
        color: rgb(74, 74, 74);
        font-size: 0.825rem;
        line-height: 1;
        letter-spacing: 1px;
        padding: 0;
        text-decoration: none;
        transition: border-color 0.2s ease-in-out;
        &:not(:last-child) {
          &:after {
            content: "/";
            vertical-align: middle;
            margin: 0 0 0 0.3rem;
            font-size: 0.825rem;
          }
          margin-right: 0.3rem;
        }
        &:hover {
          color: rgb(74, 74, 74);
          border-color: rgb(74, 74, 74);
          background-color: transparent;
        }
      }
    }
  }
  &-img {
    overflow: hidden;
    margin: 0;
    padding: 0;
    &-scale {
      width: 100%;
      transition: transform 0.2s linear;
      &:hover {
        transform: scale(1.05);
        opacity: 0.9;
      }
    }
  }
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  &-item {
    align-items: center;
    margin-bottom: 2rem;
  }
  @include tab {
    &-item {
      flex: 0 0 49%;
      &:nth-child(3n + 2) {
        margin-left: 0;
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-left: 2%;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
  @include pc {
    &-item {
      flex: 0 0 31%;
      margin-bottom: 2.5rem;
      &:nth-child(2n) {
        margin-left: 0%;
        margin-right: 0%;
      }
      &:nth-child(3n + 2) {
        margin-left: 3.5%;
        margin-right: 3.5%;
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}

@supports (display: grid) {
  .article-list {
    display: grid;
    grid-row-gap: 2rem;
    list-style: none;
    @include tab {
      grid-gap: 2.5rem 2%;
      grid-template-columns: repeat(auto-fit, 49%);
    }
    @include pc {
      grid-gap: 2.5rem 3.5%;
      grid-template-columns: repeat(auto-fit, 31%);
    }
    &-item {
      &:nth-child(3n + 2) {
        margin-left: 0;
        margin-right: 0;
      }
      margin: 0;
    }
  }
}

.post {
  display: block;
  &-main {
    padding: 1.5rem;
    .post-infomation {
      display: flex;
      justify-content: flex-end;
      margin: 0 0 20px 0;
      & > li {
        margin: 0 10px 0 0;
        &:first-child {
          margin-right: auto;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .post-tags {
      border: 1px solid #949494;
      display: inline-flex;
      align-items: center;
      text-align: center;
      color: rgb(74, 74, 74);
      font-size: 0.825rem;
      line-height: 1;
      letter-spacing: 1px;
      padding: 0.5rem 0.75rem;
      text-decoration: none;
      transition: border-color 0.2s ease-in-out;
      &:hover {
        color: rgb(74, 74, 74);
        border-color: rgb(74, 74, 74);
        background-color: transparent;
      }
    }
  }
  &-side {
    margin: 30px 0;
    @include tab {
      margin: 0;
    }
    .to-top {
      display: block;
      max-width: 300px;
      margin: 0 auto 0;
      padding: 0.7rem 0;
      text-align: center;
      text-decoration: none;
      color: black;
      border: 1px solid black;
      transition: border-color 0.2s ease-in-out;
      span {
        padding: 0 0.5rem 0 0;
      }
      &:hover {
        color: rgb(74, 74, 74);
        border-color: rgb(74, 74, 74);
        background-color: transparent;
      }
    }
  }
  @include pc {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    & > div {
      &:first-child {
        flex: 1;
      }
      min-width: 300px;
      margin-right: 20px;
    }
  }
}
@supports (display: grid) {
  .post {
    display: block;
    @include pc {
      & > div {
        &:first-child {
          margin-right: 0;
        }
      }
      display: grid;
      grid-template-columns: 1fr 300px;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      justify-items: stretch;
      align-items: stretch;
    }
  }
}

.toc-title {
  margin: 0 0 0.7rem 0;
  padding: 0 0 0.3rem 0;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-bottom: 1px solid #dedede;
}
.toc {
  margin: 0 0 2rem 0;
  a {
    color: black;
    text-decoration: none;
  }
  li {
    margin-left: 1.4em;
    text-indent: -1em;
    &:before {
      margin: 0 0.3rem 0 0;
      content: "#";
      transition: color 0.3s ease-in;
    }
    &:hover {
      &:before {
        color: #1439b4;
      }
    }
  }
  .toc-list-h2 {
    margin: 0 0 10px 0;
  }
  .toc-list-h3 {
    margin: 10px 0 0 20px;
  }
}
